# Environment files
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Build artifacts
dist/
dist-ssr/

# Logs
logs/
*.log
npm-debug.log*

# Editor & System
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.sw?
